<div fxLayout>
  <div fxFlex fxLayout="column">
    <div>
      <mat-toolbar>
        <a (click)="openSolrVersionDialog()">
          <fa-icon icon="info-circle"></fa-icon>
        </a>
        Solr v{{data?.lucene['solr-spec-version']}} started {{data?.jvm.jmx.startTime | amTimeAgo }}
      </mat-toolbar>
    </div>
    <div fxLayout class="container">
      <div fxLayout="column" fxFill fxLayoutGap="10px" class="card-row">
        <mat-card fxFlex>
          <mat-card-title>Operating System</mat-card-title>
          <mat-card-content>
            <div fxLayout="row wrap" fxLayoutAlign="space-evenly start">
              <div class="chart-container">
                <ngx-charts-gauge *ngIf="cpuUtilization" [results]="[{name: 'cpu', value: cpuUtilization}]" [valueFormatting]="valueAsPercent"></ngx-charts-gauge>
                <label>CPU Utlilization</label>
              </div>
              <div class="chart-container">
                <ngx-charts-gauge *ngIf="usedPhysicalMemoryPercent" [results]="[{name: 'b', value: usedPhysicalMemoryPercent}]" [valueFormatting]="valueAsPercent"></ngx-charts-gauge>
                <label>Physical Memory {{usedPhysicalMemory | bytes}}/{{totalPhysicalMemory | bytes}}</label>
              </div>
              <div class="chart-container">
                <ngx-charts-gauge *ngIf="fileDescriptorUtilization" [results]="[{name: 'fileDescriptors', value: fileDescriptorUtilization}]"
                  [valueFormatting]="valueAsPercent"></ngx-charts-gauge>
                <label>File Descriptors {{systemData?.openFileDescriptorCount}}/{{systemData?.maxFileDescriptorCount}}</label>
              </div>
              <div class="chart-container">
                <ngx-charts-gauge *ngIf="usedSwapSpacePercent" [results]="[{name: 'swapSpace', value: usedSwapSpacePercent}]" [valueFormatting]="valueAsPercent"></ngx-charts-gauge>
                <label>Used Swap {{usedSwapSpace | bytes: 2}}/{{systemData?.totalSwapSpaceSize | bytes}}</label>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card fxFlex>
          <mat-card-title>JVM
            <a (click)="openJVMDialog()">
              <fa-icon icon="info-circle"></fa-icon>
            </a>
          </mat-card-title>
          <mat-card-content>
            <div fxLayout="row wrap" fxLayoutAlign="space-evenly start">
              <div class="chart-container">
                <ngx-charts-gauge *ngIf="processCpuUtilization" [results]="[{name: 'cpu', value: processCpuUtilization}]" [valueFormatting]="valueAsPercent"></ngx-charts-gauge>
                <label>Process CPU Utlilization</label>
              </div>
              <div class="chart-container">
                <ngx-charts-gauge *ngIf="usedPhysicalMemoryPercent" [results]="[{name: 'b', value: usedPhysicalMemoryPercent}]" [valueFormatting]="valueAsPercent"></ngx-charts-gauge>
                <label>Physical Memory {{usedPhysicalMemory | bytes}}/{{totalPhysicalMemory | bytes}}</label>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
