<div fxLayout>
    <div fxFlex fxLayout="column">
        <div>
            <mat-toolbar>
                 <a (click)="openSolrVersionDialog()"><fa-icon icon="info-circle"></fa-icon></a>
                 Solr v{{data?.lucene['solr-spec-version']}} started {{data?.jvm.jmx.startTime | amTimeAgo }}
            </mat-toolbar>
        </div>
        <div fxLayout fxFlexFill class="container">
            <div>

            </div>
            <mat-card fxFlex class="system">
                <mat-card-title>System</mat-card-title>
                <mat-card-content>
                    <div>
                        Physical Memory
                        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                    </div>
                </mat-card-content>
            </mat-card>
            
        </div>
    </div>
</div>