<div fxLayout>
  <div fxFlex fxLayout="column">
    <div>
      <mat-toolbar>
        <a (click)="openSolrVersionDialog()">
          <fa-icon icon="info-circle"></fa-icon>
        </a>
        Solr v{{data?.lucene['solr-spec-version']}} started {{data?.jvm.jmx.startTime | amTimeAgo }}
      </mat-toolbar>
    </div>
    <div fxLayout class="container">
      <div fxLayout fxLayoutGap="10px" class="card-row">
        <mat-card fxFlexFill>
          <mat-card-title>Operating System</mat-card-title>
          <mat-card-content>
            <app-progress label="CPU cores:{{systemData?.availableProcessors}}, utlilization:{{cpuUtilization | round}}%" [value]="cpuUtilization">
            </app-progress>
            <app-progress label="Physical Memory: {{usedPhysicalMemoryPercent | round}}% [{{usedPhysicalMemory | bytes}}]" [value]="usedPhysicalMemoryPercent"
              max="{{totalPhysicalMemory| bytes}}">
            </app-progress>
            <app-progress label="File Descriptors: {{fileDescriptorUtilization | round}}% [{{systemData?.openFileDescriptorCount}}]"
              [value]="fileDescriptorUtilization" [max]="systemData?.maxFileDescriptorCount">
            </app-progress>
            <app-progress label="Swap Space: {{usedSwapSpacePercent | round}}% [{{usedSwapSpace | bytes}}]" [value]="usedSwapSpacePercent"
              max="{{systemData?.totalSwapSpaceSize | bytes}}">
            </app-progress>
          </mat-card-content>
        </mat-card>
        <mat-card fxFlexFill>
          <mat-card-title>JVM
            <a (click)="openJVMDialog()">
              <fa-icon icon="info-circle"></fa-icon>
            </a>
          </mat-card-title>
          <mat-card-content>
            <app-progress label="CPU cores:{{systemData?.availableProcessors}}, utlilization:{{processCpuUtilization | round}}%" [value]="processCpuUtilization">
            </app-progress>
            <app-progress label="Heap Memory: {{jvmData?.memory.raw['used%'] | round}}%, used:{{jvmData?.memory.raw['used'] | bytes}}, allocated:{{jvmData?.memory.raw['total'] | bytes}}"
              [value]="jvmData?.memory.raw['used%']" max="{{jvmData?.memory.raw['max'] | bytes}}">
            </app-progress>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
